In [1494]:
import pandas as pd
from scipy.stats.mstats import winsorize

In [1495]:
database = pd.read_csv("listings.csv")

In [1496]:
database.describe()

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,latitude,longitude,accommodates,bathrooms,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,3.196400e+04,3.196400e+04,3.196400e+04,31961.000000,31961.000000,0.0,31964.000000,31964.000000,31964.000000,0.0,...,23668.000000,23667.000000,23665.000000,23667.00000,0.0,31964.000000,31964.000000,31964.000000,31964.000000,23824.000000
mean,3.514699e+17,2.023092e+13,1.663077e+08,16.112450,27.273020,NaN,-22.967574,-43.251361,4.041265,NaN,...,4.881593,4.866827,4.861961,4.69660,NaN,8.839319,8.010825,0.707139,0.111719,0.974190
std,3.999653e+17,0.000000e+00,1.684315e+08,89.082309,134.207472,NaN,0.035182,0.100595,2.370380,NaN,...,0.321587,0.346049,0.322802,0.44839,NaN,23.515196,23.328498,1.735520,0.918342,1.127053
min,1.787800e+04,2.023092e+13,1.671000e+03,1.000000,1.000000,NaN,-23.073276,-43.723009,1.000000,NaN,...,1.000000,1.000000,1.000000,1.00000,NaN,1.000000,0.000000,0.000000,0.000000,0.010000
25%,2.184739e+07,2.023092e+13,2.258631e+07,1.000000,1.000000,NaN,-22.984820,-43.310047,2.000000,NaN,...,4.890000,4.870000,4.850000,4.61000,NaN,1.000000,1.000000,0.000000,0.000000,0.170000
50%,5.261496e+07,2.023092e+13,8.693849e+07,2.000000,3.000000,NaN,-22.972860,-43.195670,4.000000,NaN,...,5.000000,5.000000,4.980000,4.81000,NaN,2.000000,1.000000,0.000000,0.000000,0.570000
75%,7.814279e+17,2.023092e+13,3.004090e+08,5.000000,7.000000,NaN,-22.956165,-43.185946,5.000000,NaN,...,5.000000,5.000000,5.000000,5.00000,NaN,4.000000,3.000000,1.000000,0.000000,1.380000
max,9.855551e+17,2.023092e+13,5.379850e+08,1311.000000,1803.000000,NaN,-22.749690,-43.104400,16.000000,NaN,...,5.000000,5.000000,5.000000,5.00000,NaN,163.000000,159.000000,18.000000,15.000000,14.780000

In [1497]:
database.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,231497,https://www.airbnb.com/rooms/231497,20230922043705,2023-09-22,city scrape,Rental unit in Rio de Janeiro · ★4.73 · 1 bedr...,"This is a big studio at the end of Copacabana,...",NaN,https://a0.muscache.com/pictures/3582382/ee8ac...,1207700,...,4.92,4.90,4.65,NaN,f,4,4,0,0,0.54
1,231516,https://www.airbnb.com/rooms/231516,20230922043705,2023-09-22,city scrape,Rental unit in Rio de Janeiro · ★4.71 · 1 bedr...,"Special location of the building, on Copacaban...",NaN,https://a0.muscache.com/pictures/3671683/d74b4...,1207700,...,4.86,4.93,4.38,NaN,f,4,4,0,0,0.20
2,236991,https://www.airbnb.com/rooms/236991,20230922043705,2023-09-23,city scrape,Rental unit in Rio de Janeiro · ★4.89 · 1 bedr...,"Aconchegante, amplo, básico, arejado, iluminad...","Copacabana, apelidada a princesinha do mar, fa...",https://a0.muscache.com/pictures/5725a59b-147d...,1241662,...,4.96,4.99,4.89,NaN,f,2,2,0,0,0.65
3,17878,https://www.airbnb.com/rooms/17878,20230922043705,2023-09-23,city scrape,Condo in Rio de Janeiro · ★4.70 · 2 bedrooms ·...,Please note that elevated rates applies for Ne...,This is the one of the bests spots in Rio. Bec...,https://a0.muscache.com/pictures/65320518/3069...,68997,...,4.91,4.77,4.67,NaN,f,1,1,0,0,1.87
4,25026,https://www.airbnb.com/rooms/25026,20230922043705,2023-09-22,city scrape,Rental unit in Rio de Janeiro · ★4.71 · 1 bedr...,"**Fully renovated in Dec 2022, new kitchen, n...",Copacabana is a lively neighborhood and the ap...,https://a0.muscache.com/pictures/a745aa21-b8dd...,102840,...,4.92,4.84,4.59,NaN,f,1,1,0,0,1.68

In [1498]:
database['price'] = database['price'].replace('[$,]', '', regex=True).astype(float)

In [1499]:
database['bathrooms_text'] = database['bathrooms_text'].str.extract('(\d+)')

database['bathrooms_text'].fillna(database['bathrooms_text'].median(),inplace=True)

database['bathrooms_text'] = database['bathrooms_text'].astype(float)

In [1500]:
database['host_is_superhost'] = database['host_is_superhost'].replace({'f': 0, 't': 1})

In [1501]:
database = database.dropna(axis=1, how='all',inplace=True)

In [1502]:
dados = [
    0.97, 0.967, 0.963, 0.962, 0.959, 0.959, 0.959, 0.959, 0.957, 0.957,0.956, 0.955, 0.952, 0.944, 0.94, 0.938, 0.931, 0.926, 0.922, 0.911,
    0.909, 0.909, 0.905, 0.904, 0.904, 0.901, 0.901, 0.9, 0.9, 0.898, 0.894,0.894, 0.882, 0.878, 0.877, 0.876, 0.876, 0.873, 0.867, 0.861, 0.861,
    0.86, 0.859, 0.859, 0.858, 0.858, 0.857, 0.857, 0.857, 0.856, 0.855,0.853, 0.851, 0.85, 0.85, 0.849, 0.845, 0.839, 0.839, 0.839, 0.836, 0.835,
    0.835, 0.833, 0.833, 0.833, 0.831, 0.831, 0.831, 0.829, 0.828, 0.826, 0.825,0.822, 0.822, 0.817, 0.815, 0.814, 0.812, 0.81, 0.81, 0.81, 0.807, 0.807,
    0.806, 0.804, 0.804, 0.804, 0.803, 0.802, 0.802, 0.802, 0.802, 0.8, 0.798,0.794, 0.792, 0.791, 0.79, 0.788, 0.78, 0.778, 0.773, 0.769, 0.768, 0.768,
    0.763, 0.762, 0.761, 0.759, 0.753, 0.751, 0.751, 0.75, 0.747, 0.746, 0.745,0.744, 0.742, 0.732, 0.731, 0.726, 0.722, 0.72, 0.713, 0.711
]

bairros = [
    'Gávea', 'Leblon', 'Jardim Guanabara', 'Ipanema', 'Lagoa', 'Flamengo', 'Humaitá','Barra da Tijuca, Joá', 'Laranjeiras', 'Jardim Botânico', 'Copacabana', 'Leme',
    'Botafogo, Urca', 'Maracanã', 'Glória', 'Grajaú', 'Méier', 'Tijuca, Alto da Boa Vista','Todos os Santos', 'Anil', 'Vila da Penha', 'Andaraí', 'Riachuelo',
    'Campinho, Vila Valqueire', 'Moneró, Portuguesa', 'Catete', 'Vila Isabel', 'Cachambi','Pechincha', 'Freguesia', 'Recreio dos Bandeirantes, Grumari', 'Centro', 'Higienópolis',
    'Santa Teresa, Cosme Velho', 'Água Santa, Encantado', 'Taquara', 'Vila Cosmos', 'Vidigal, São Conrado','Cidade Nova, Praça da Bandeira', 'Bonsucesso', 'Cocotá, Bancários', 'Maria da Graça, Del Castilho',
    'Ribeira, Cacuia', 'Lins de Vasconcelos', 'Engenho Novo', 'Zumbi, Pitangueiras, Praia da Bandeira','Ramos', 'Engenho de Dentro', 'Abolição', 'Deodoro, Vila Militar, Campo dos Afonsos, Sulacap',
    'Oswaldo Cruz', 'Olaria', 'Bento Ribeiro', 'Piedade', 'Quintino Bocaiúva', 'Rio Comprido','Praça Seca', 'Jardim América', 'Jacaré, Rocha, Sampaio', 'Freguesia', 'Jardim Carioca',
    'Engenho da Rainha', 'Brás de Pina', 'São Cristóvão, Vasco da Gama', 'Cascadura','Parque Anchieta', 'Madureira', 'Pilares', 'Tanque', 'Estácio', 'Curicica', 'Penha Circular',
    'Benfica', 'Paquetá', 'Itanhangá', 'Tauá', 'Rocha Miranda', 'Marechal Hermes', 'Turiaçu','Guadalupe', 'Inhaúma', 'Campo Grande', 'Cavalcanti, Engenheiro Leal, Vaz Lobo', 'Ricardo de Albuquerque',
    'Coelho Neto', 'Padre Miguel', 'Penha', 'Honório Gurgel', 'Realengo', 'Senador Vasconcelos', 'Tomás Coelho','Magalhães Bastos', 'Catumbi', 'Mangueira, São Francisco Xavier', 'Vista Alegre, Irajá', 'Bangu',
    'Saúde, Gamboa, Santo Cristo', 'Cordovil', 'Pavuna', 'Anchieta', 'Santíssimo', 'Fundão, Galeão','Vicente de Carvalho', 'Jacarepaguá', 'Senador Camará', 'Gardênia Azul', 'Vigário Geral', 'Colégio',
    'Sepetiba', 'Cosmos', 'Caju', 'Paciência', 'Cidade de Deus', 'Barros Filho', 'Inhoaíba',
]

# Criando o dicionário
dicionario_bairros_idh = dict(zip(bairros, dados))

In [1503]:
lista_de_idhs = []

for bairro in database['neighbourhood_cleansed']:
    if (bairro) in (dicionario_bairros_idh):
        lista_de_idhs.append(dicionario_bairros_idh[bairro])
    else:
        lista_de_idhs.append(None)

database['idh'] = lista_de_idhs

In [1504]:
numerics_columns = ["idh",
    "host_is_superhost",
    "bathrooms_text",
    "accommodates",
    "bedrooms",
    "beds",
    "review_scores_rating",
    "review_scores_cleanliness",
    "review_scores_communication",
    "review_scores_checkin",
    "review_scores_accuracy",
    "review_scores_location",
    "review_scores_value",
    "number_of_reviews_l30d",
    "number_of_reviews_ltm",
    "number_of_reviews",
    "reviews_per_month",
    'calculated_host_listings_count_private_rooms',
    "price"]

In [1505]:
for column in numerics_columns:
    database[column].fillna(database[column].median(), inplace=True)

In [1506]:
database['price'] = winsorize(database['price'], limits=[0.25, 0.3],inplace=True)

database['beds'] = winsorize(database['beds'], limits=[0.25, 0.25],inplace=True)

database['bedrooms'] = winsorize(database['bedrooms'], limits=[0.1, 0.25],inplace=True)

database['accommodates'] = winsorize(database['accommodates'], limits=[0.1, 0.20],inplace=True)

database['bathrooms_text'] = winsorize(database["bathrooms_text"] , limits=[0.1, 0.25],inplace=True)

database['reviews_per_month'] = winsorize(database["reviews_per_month"] , limits=[0.1, 0.25],inplace=True)

database['calculated_host_listings_count_private_rooms'] = winsorize(database["calculated_host_listings_count_private_rooms"] , limits=[0.1, 0.20],inplace=True)

In [1507]:
database.to_csv('Desafio_sauter.csv', index=True)